/* You can add global styles to this file, and also import other style files */

.nav-link {
  font-size: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.nav-btn {
  font-size: 16px;
  padding-right: 20px;
}

.page-link {
  font-size: 20px;
  text-decoration: none;
}
